* {
  box-sizing: border-box;
  padding: 0;
margin:0;
}

body {
  font: 16px Arial; 
  background-color: #3498DB;
  height:500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Poppins', sans-serif;

padding: 50px;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  grid-template-columns: 7% 93%;
  margin: 100px 0;
  padding: 5px 0;
  border-bottom: 2px solid #d9d9d9; 


}

.course{
  display: flex;
  align-items: center;
  text-align: center;
}

form{
  width: 360px;
}

input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}

input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
#center
{
    text-align: center;

}
.container{
  width:100vw;
  height:100vh;
  display:grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap:7rem;
  padding:0 2rem;
}

.img{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.img img{
  width:500px;
}

form h2{
  font-size: 2.9rem;
  text-transform: uppercase;
  margin: 15px 0;
  color: #333;
}